/*CSS para recipes, chechar prop 1.*/
body{
margin:0;
}

.wrapper{
width:100%;
background-image:url(condi.jpg);
background-position: center top;
background-repeat: repeat-y;
background-size: contain;
margin:0 auto;
padding: 0;
position:relative;
overflow:hidden;
}

header{
position:relative;
top:0px;
margin:auto;
display: block;
box-sizing: border-box;
width:100%;
max-width:40em;
text-align:center;
border: dotted;
}

.sidebar{
height:150em;
width:10%;
min-width:15em;
display:block;
border:dotted;
background-image: url(lol.png);
background-repeat: repeat-y;
background-position: center;
}

.sidebar h2{

display:block;
background-color: #ee3030;
position: relative;
width: 10em;
margin: auto;
text-align:center;
}

.recipe{
display:none;
}

footer{
display:block;
position:relative;
width:100%;
max-width:30em;
margin:auto;
border:dotted;
}
#stage{
position:relative;
display:block;
width: 80%;
float: right;
border: dotted;
